In [4]:
import json
import pymongo
import pandas as pd
myclient = pymongo.MongoClient()

In [6]:
df_review = pd.read_json('Data\yelp_academic_dataset_review_1000.json', lines= True)
df_review.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,VfBHSwC5Vz_pbFluy07i9Q,cjpdDjZyprfyDG3RlkVG3w,uYHaNptLzDLoV_JZ_MuzUA,5,2016-07-12,My girlfriend and I stayed here for 3 nights a...,0,0,0
1,3zRpneRKDsOPq92tq7ybAA,bjTcT8Ty4cJZhEOEo01FGA,uYHaNptLzDLoV_JZ_MuzUA,3,2016-10-02,If you need an inexpensive place to stay for a...,0,0,0
2,ne5WhI1jUFOcRn-b-gAzHA,AXgRULmWcME7J6Ix3I--ww,uYHaNptLzDLoV_JZ_MuzUA,3,2015-09-17,Mittlerweile gibt es in Edinburgh zwei Ableger...,0,0,0
3,llmdwOgDReucVoWEry61Lw,oU2SSOmsp_A8JYI7Z2JJ5w,uYHaNptLzDLoV_JZ_MuzUA,4,2016-08-21,Location is everything and this hotel has it! ...,0,0,0
4,DuffS87NaSMDmIfluvT83g,0xtbPEna2Kei11vsU-U2Mw,uYHaNptLzDLoV_JZ_MuzUA,5,2013-11-20,gute lage im stadtzentrum. shoppingmeile und s...,0,0,0

In [7]:
df_business = pd.read_json('Data\yelp_academic_dataset_business.json', lines= True)
df_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,1SWheh84yJXfytovILXOAQ,Arizona Biltmore Golf Club,2818 E Camino Acequia Drive,Phoenix,AZ,85016,33.522143,-112.018481,3.0,5,0,{'GoodForKids': 'False'},"Golf, Active Life",None
1,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,128,1,"{'RestaurantsReservations': 'True', 'GoodForMe...","Specialty Food, Restaurants, Dim Sum, Imported...","{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W..."
2,gnKjwL_1w79qoiV3IC_xQQ,Musashi Japanese Restaurant,"10110 Johnston Rd, Ste 15",Charlotte,NC,28210,35.092564,-80.859132,4.0,170,1,"{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...","Sushi Bars, Restaurants, Japanese","{'Monday': '17:30-21:30', 'Wednesday': '17:30-..."
3,xvX2CttrVhyG2z1dFg_0xw,Farmers Insurance - Paul Lorenz,"15655 W Roosevelt St, Ste 237",Goodyear,AZ,85338,33.455613,-112.395596,5.0,3,1,None,"Insurance, Financial Services","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
4,HhyxOkGAM07SRYtlQ4wMFQ,Queen City Plumbing,"4209 Stuart Andrew Blvd, Ste F",Charlotte,NC,28217,35.190012,-80.887223,4.0,4,1,"{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...","Plumbing, Shopping, Local Services, Home Servi...","{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ..."

In [113]:
#df_selected = df_review.set_index('business_id').join(df_business.set_index('business_id'), lsuffix='_review', rsuffix="_business")
df_selected = pd.merge(df_review, df_business, how="left", on='business_id', suffixes=('', '_2'))
df_selected.shape

(1000, 22)

In [114]:
df_selected.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'date', 'text',
       'useful', 'funny', 'cool', 'name', 'address', 'city', 'state',
       'postal_code', 'latitude', 'longitude', 'stars_2', 'review_count',
       'is_open', 'attributes', 'categories', 'hours'],
      dtype='object')

In [115]:
df1= df_selected
df1.shape

(1000, 22)

In [116]:
df1[df1['categories'].str.contains("Restaurant", na= False)]

,review_id,user_id,business_id,stars,date,text,useful,funny,cool,name,...,state,postal_code,latitude,longitude,stars_2,review_count,is_open,attributes,categories,hours
16,ByRzJ8rF2KJWLr-cUNU6EA,kzyLOqiJvyw_FWFTw2rjiQ,jQsNFOzDpxPmOurSWCg1vQ,1,2017-06-03,"This place is horrible, we were so excited to ...",0,0,0,Pei Wei,...,AZ,85374,33.638228,-112.365259,2.5,165.0,1.0,"{'Ambience': '{'touristy': False, 'hipster': F...","Asian Fusion, Diners, Restaurants, Gluten-Free...","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
17,i5UwUPlQFPLcE8p2gPFwBw,WZXp9-V2dqRRJqhGgRqueA,jQsNFOzDpxPmOurSWCg1vQ,4,2015-03-26,"For being fairly ""fast"" food.. Pei Wei (pronou...",1,0,0,Pei Wei,...,AZ,85374,33.638228,-112.365259,2.5,165.0,1.0,"{'Ambience': '{'touristy': False, 'hipster': F...","Asian Fusion, Diners, Restaurants, Gluten-Free...","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
18,EyQyvTTg2jX4or9bB8PC9g,XylT12exfdLiI_3uDLVIpw,jQsNFOzDpxPmOurSWCg1vQ,5,2012-12-30,"I decided to try it out, I'm celiac and theref...",2,1,1,Pei Wei,...,AZ,85374,33.638228,-112.365259,2.5,165.0,1.0,"{'Ambience': '{'touristy': False, 'hipster': F...","Asian Fusion, Diners, Restaurants, Gluten-Free...","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
19,G-EFA005besj5uHsH0sQFA,Ji9PeffxjwqPLO7pEfSpKQ,jQsNFOzDpxPmOurSWCg1vQ,3,2009-01-12,I'm not saying Pei Wei is the best asian food ...,1,1,1,Pei Wei,...,AZ,85374,33.638228,-112.365259,2.5,165.0,1.0,"{'Ambience': '{'touristy': False, 'hipster': F...","Asian Fusion, Diners, Restaurants, Gluten-Free...","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
20,6PcJSGUBSLjt4VLXos5C4A,TLIWzAJPrET0zX4_vgvLhg,jQsNFOzDpxPmOurSWCg1vQ,3,2015-07-11,Sometimes the food is spot on and delicious an...,0,0,0,Pei Wei,...,AZ,85374,33.638228,-112.365259,2.5,165.0,1.0,"{'Ambience': '{'touristy': False, 'hipster': F...","Asian Fusion, Diners, Restaurants, Gluten-Free...","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,NdjK8rttbevfoDwgXcL-eg,y6IogOYLjAs8Mksx62vnDQ,Jdqg97lLo_qJlCqU9RjIEA,3,2017-01-28,Very nice and new. Staff is always friendly bu...,0,1,0,Dairy Queen,...,OH,44130,41.351037,-81.784110,3.5,8.0,1.0,"{'OutdoorSeating': 'True', 'BusinessParking': ...","Restaurants, Food, Ice Cream & Frozen Yogurt, ...",None
983,2PoRWtHb6ulqr8AJv_QGhA,VKwI11qTXOxHmlh2yr_2TQ,Jdqg97lLo_qJlCqU9RjIEA,3,2014-01-17,"Nothing special about this place, their ice cr...",0,0,0,Dairy Queen,...,OH,44130,41.351037,-81.784110,3.5,8.0,1.0,"{'OutdoorSeating': 'True', 'BusinessParking': ...","Restaurants, Food, Ice Cream & Frozen Yogurt, ...",None
984,WlqmIvizN8A_oKNR-MPuPw,sxb4v27_35Lp1yktej7ZEQ,Jdqg97lLo_qJlCqU9RjIEA,4,2014-02-27,I love this location! The staff is very friend...,0,0,0,Dairy Queen,...,OH,44130,41.351037,-81.784110,3.5,8.0,1.0,"{'OutdoorSeating': 'True', 'BusinessParking': ...","Restaurants, Food, Ice Cream & Frozen Yogurt, ...",None
998,FsS5TUFPI8QJEE60-HR3dw,bWh4k_cCuVt5GLVd33xIxg,tulUhFYMvBkYHsjmn30A9w,2,2013-11-19,Wished it was better..\nAfter watching man vs....,1,0,1,Hot Sauce Williams Barbecue Restaurant,...,OH,44103,41.501782,-81.633948,3.0,165.0,0.0,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Soul Food, Barbeque, Fast Food, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
999,7xGHiLP1vAaGmX6srC_XXw,nQ4e81UdfczimYcIUtO3HA,tulUhFYMvBkYHsjmn30A9w,4,2014-12-18,"Decor and service leave much to be desired, bu...",0,0,1,Hot Sauce Williams Barbecue Restaurant,...,OH,44103,41.501782,-81.633948,3.0,165.0,0.0,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Soul Food, Barbeque, Fast Food, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."

In [99]:
df1 = df1.set_index('review_id')

In [118]:
df1.columns
df1 = df1.drop(['name', 'address', 'city','state', 'postal_code','latitude', 'longitude', 'stars_2', 'review_count', 'is_open', 'attributes', 'categories', 'hours'], axis=1)

In [119]:
df1.to_json('Data\yelp_academic_dataset_review_1000_restaurant.json')

In [120]:
df1.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,VfBHSwC5Vz_pbFluy07i9Q,cjpdDjZyprfyDG3RlkVG3w,uYHaNptLzDLoV_JZ_MuzUA,5,2016-07-12,My girlfriend and I stayed here for 3 nights a...,0,0,0
1,3zRpneRKDsOPq92tq7ybAA,bjTcT8Ty4cJZhEOEo01FGA,uYHaNptLzDLoV_JZ_MuzUA,3,2016-10-02,If you need an inexpensive place to stay for a...,0,0,0
2,ne5WhI1jUFOcRn-b-gAzHA,AXgRULmWcME7J6Ix3I--ww,uYHaNptLzDLoV_JZ_MuzUA,3,2015-09-17,Mittlerweile gibt es in Edinburgh zwei Ableger...,0,0,0
3,llmdwOgDReucVoWEry61Lw,oU2SSOmsp_A8JYI7Z2JJ5w,uYHaNptLzDLoV_JZ_MuzUA,4,2016-08-21,Location is everything and this hotel has it! ...,0,0,0
4,DuffS87NaSMDmIfluvT83g,0xtbPEna2Kei11vsU-U2Mw,uYHaNptLzDLoV_JZ_MuzUA,5,2013-11-20,gute lage im stadtzentrum. shoppingmeile und s...,0,0,0